-if target.errors.any? 
  #errorExplanation  
    %h2= "#{pluralize(target.errors.count, "error")} prohibited this from working:"  
    %ul 
      -target.errors.full_messages.each do |msg|  
        %li= msg